/*selector por tipo*/
h1{
    color: blue;
}
h2{
    color:crimson;
}
h3{
    color:darkgray;
}
/*selector por clase*/
.box{
    background-color: deeppink;
    color: #FFFF;
}

.caja{
    background-color: rgba(27, 139, 87, 0.281);
    color: #FFFF;

}

#colores{
    background-color: rgb(0, 18, 100);
    color: rgb(252, 252, 252);
}